.logo {
	width: 300px;
}


@media (min-width: 768px) {
	.logo {
		width: 200px;
	}

}

@media (min-width: 1200px) {
	.logo {
		width: 200px;
	}
}

@media (min-width: 1400px) {
	.logo {
		width: 300px;
	}
}

@media (min-width: 1400px) {
	.banner-two__content .title {
		font-size: 80px;
	}
}

.modal-content {
	border-radius: 20px;
	overflow: hidden;
}

.form-control,
.form-select {
	height: 55px;
	border-radius: 10px;
	border: 1px solid #ddd;
	box-shadow: none;
}

textarea.form-control {
	height: auto;
	padding-top: 15px;
}

.dateTimePicker i {
	position: absolute;
	right: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: #c9a35b;
	pointer-events: none;
}

.btn-dark {
	height: 55px;
	border-radius: 10px;
	font-weight: 600;
}

.banner__video {
	transform: scale(1) !important;
}

.small-text {
	font-size: 14px;
	line-height: 24px;
	color: #b0b0b0;
	margin-bottom: 0;
}